<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304282730177-b7ufggbgnmviv5flu5lm6b98ig154j7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304282730177-b7ufggbgnmviv5flu5lm6b98ig154j7d</string>
	<key>API_KEY</key>
	<string>AIzaSyBMx134W93HnI6Ge9mxp288GW_zuPd7ReA</string>
	<key>GCM_SENDER_ID</key>
	<string>304282730177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAssignment</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-f3706</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-f3706.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304282730177:ios:8dccde04365d122c9d1e40</string>
</dict>
</plist>